doctype html
html
  head
    title DMOJ local judge
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='resources/css/bootstrap.min.css')
    link(rel='stylesheet', href='resources/css/hephasteus.css')
    // WTF? Must load twice to work
    script(src='resources/js/jquery.min.js')
    script(src='resources/js/jquery.min.js')
    script(src='resources/js/bootstrap.min.js')
    script(src='resources/js/jquery.easing.1.3.js')
    script(src='resources/js/jquery.effects.core.js')
    script(src='resources/js/jquery.effects.slide.js')
    block js
    block css

body
  block content
